.containerComprobante {
  background-color: #f0f0f0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px;
  transition: background-color 0.3s ease;
}

.containerComprobante:hover {
  background-color: #d1d1d1;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}
.containerButon:hover {
  cursor: pointer;
}

.stilosIcon {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
