.profile-container {
  position: fixed; /* Hace que el contenedor se fije en la ventana del navegador */
  top: 0; /* Posiciona el contenedor en la parte superior de la ventana del navegador */
  left: 0; /* Posiciona el contenedor en el borde izquierdo de la ventana del navegador */
  width: 20%; /* Asegura que el contenedor ocupe todo el ancho de la ventana del navegador */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b4c7a;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.namePerfil {
  width: 40%;
}
@media (max-width: 768px) {
  /* Estilos para pantallas de hasta 768px de ancho */
  .profile-container {
    width: 100%;
    position: relative;
  }
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 40px;
  margin-top: 40%;
  margin-bottom: 10%;
}
.textLista {
  color: #fff;
  font-weight: bold;
}

.nav-link {
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  background-color: #306fa0 !important;
  color: #f1f4f4 !important;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #7099b8 !important;
  color: #f1f4f4 !important;
  transition: background-color 0.3s ease;

  font-weight: bold;
}

.nav-link.active {
  background-color: #e0e0e0; /* Background color for active link */
  font-weight: bold; /* Make text bold */
}
