/* dashboard.css */

.profile-container {
  position: fixed; /* Makes the container fixed to the viewport */
  top: 0; /* Positions the container at the top of the viewport */
  left: 0; /* Positions the container at the left of the viewport */
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b4c7a;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}
